rainmaker-pgr=https://raw.githubusercontent.com/egovernments/punjab-rainmaker-customization/master/configs/reports/configs/pgr-reports.yml
rainmaker-pt=https://raw.githubusercontent.com/egovernments/punjab-rainmaker-customization/master/configs/reports/configs/pt-reports.yml
rainmaker-tl=https://raw.githubusercontent.com/egovernments/punjab-rainmaker-customization/master/configs/reports/configs/tl-reports.yml