---
ReportDefinitions:
- reportName: WnsReceiptRegisterReport
  decryptionPathId: WnsReceiptRegisterReport
  summary: WnS Receipt Register Report
  version: 1.0.0
  moduleName: rainmaker-wns
  sourceColumns:
  - name: receiptnumber
    label: report.wns.receiptnumber
    type: string
    source: wns
    total: false
  - name: receiptdate
    label: report.wns.receiptdate
    type: string
    source: wns
    total: false
  - name: service
    label: report.wns.service
    type: string
    source: wns
    total: false
  - name: name
    label: report.wns.name
    type: string
    source: wns
    total: false
  - name: payername
    label: report.wns.payername
    type: string
    source: wns
    total: false
  - name: totalamountpaid
    label: report.wns.totalamountpaid
    type: number
    source: wns
    total: false
  - name: chequeno
    label: report.wns.chequeno
    type: string
    source: wns
    total: false
  - name: transactionnumber
    label: report.wns.transactionnumber
    type: string
    source: wns
    total: false
  searchParams:
  - name: fromDate
    label: FromDate
    type: epoch
    source: wns
    isMandatory: true
    searchClause: AND egcl_paymentdetail.receiptdate >= $fromDate
  - name: toDate
    label: ToDate
    type: epoch
    source: wns
    isMandatory: true
    searchClause: AND egcl_paymentdetail.receiptdate  <= $toDate 
  - name: receiptStatus
    label: reports.wns.receiptStatus
    type: singlevaluelist
    pattern: 'list://NEW:New,DEPOSITED:Deposited,DISHONOURED:Dishonoured'
    source: wns
    isMandatory: false
    searchClause: AND egcl_bill.status = $receiptStatus
  - name: serviceName
    label: reports.wns.serviceName
    type: singlevaluelist
    source: wns
    isMandatory: false
    pattern: 'list://WS:Water,SW:Sewerage'
    wrapper: true
    isLocalisationRequired: true
    localisationPrefix: BILLINGSERVICE_BUSINESSSERVICE_
    searchClause: AND egcl_bill.businessservice = $serviceName
  - name: collectionOperator
    label: CollectionOperator
    type: singlevaluelist
    pattern: http://egov-hrms:8080/egov-hrms/employees/_search?tenantId=$tenantid&roles=SW_CEMP,WS_CEMP|$.Employees[*].user.id|$.Employees[*].user.name|$.Employees[*].user.username
    wrapper: true
    source: wns
    isMandatory: false
    searchClause: AND egcl_payment.createdby = $collectionOperator
  query: select receiptnumber, to_char( To_timestamp(receiptdate / 1000), 'DD/MM/YYYY' ) as receiptdate, CASE WHEN egcl_bill.businessservice = 'SW' THEN 'Sewerage' WHEN egcl_bill.businessservice='SW.ONE_TIME_FEE' THEN 'SW_One_Time_Fee' ELSE NULL END as service, totalamountpaid, payername, transactionnumber, CASE WHEN paymentmode = 'CHEQUE' THEN instrumentnumber ELSE null END as chequeno from egcl_payment inner join egcl_paymentdetail on egcl_payment.id = egcl_paymentdetail.paymentid inner join egcl_bill on egcl_paymentdetail.billid = egcl_bill.id where egcl_bill.tenantid = $tenantid and egcl_bill.businessservice in ('SW','SW.ONE_TIME_FEE') UNION ALL select receiptnumber, to_char( To_timestamp(receiptdate / 1000), 'DD/MM/YYYY' ) as receiptdate, CASE WHEN egcl_bill.businessservice = 'WS' THEN 'Water' WHEN egcl_bill.businessservice='WS.ONE_TIME_FEE' THEN 'Ws_One_Time_Fee' ELSE NULL END as service, totalamountpaid, payername, transactionnumber, CASE WHEN paymentmode = 'CHEQUE' THEN instrumentnumber ELSE null END as chequeno from egcl_payment inner join egcl_paymentdetail on egcl_payment.id = egcl_paymentdetail.paymentid inner join egcl_bill on egcl_paymentdetail.billid = egcl_bill.id where egcl_bill.tenantid = $tenantid and egcl_bill.businessservice in ('WS','WS.ONE_TIME_FEE')

- reportName: WnsCollectionRegisterReport
  decryptionPathId: WnsCollectionRegisterReport
  summary: WnS Collection Register Report
  version: 1.0.0
  moduleName: rainmaker-wns
  sourceColumns:
  - name: locality
    label: report.wns.locality
    type: string
    source: wns
    total: false
    localisationPrefix: TENANTS_MOHALLA_
    isLocalisationRequired: true
  - name: service
    label: report.wns.service
    type: string
    source: wns
    total: false
  - name: name
    label: report.wns.name
    type: string
    source: wns
    total: false
  - name: paymentmode
    label: report.wns.paymentmode
    type: string
    source: wns
    total: false
  - name: totaltransactions
    label: report.wns.totaltransactions
    type: number
    source: wns
    total: false
  - name: totalamountpaid
    label: report.wns.totalamountpaid
    type: number
    source: wns
    total: false
  - name: uuid
    label: report.wns.uuid
    type: string
    source: wns
    showColumn: false
  searchParams:
  - name: fromDate
    label: FromDate
    type: epoch
    source: wns
    isMandatory: true
    searchClause: AND egcl_paymentdetail.receiptdate >= $fromDate
  - name: toDate
    label: ToDate
    type: epoch
    source: wns
    isMandatory: true
    searchClause: AND egcl_paymentdetail.receiptdate  <= $toDate 
  - name: locality
    label: reports.wns.locality
    type: singlevaluelist
    source: wns
    pattern: http://egov-location.egov:8080/egov-location/location/v11/boundarys/_search?hierarchyTypeCode=ADMIN&boundaryType=Locality&tenantId=$tenantid|$.TenantBoundary[0].boundary.*.code|$.TenantBoundary[0].boundary.*.code
    isMandatory: false
    wrapper: true
    localisationPrefix: TENANTS_MOHALLA_
    isLocalisationRequired: true
    searchClause: AND locality = $locality
  - name: serviceName
    label: reports.wns.serviceName
    type: singlevaluelist
    source: wns
    isMandatory: false
    pattern: 'list://WS:Water,SW:Sewerage'
    wrapper: true
    isLocalisationRequired: true
    localisationPrefix: BILLINGSERVICE_BUSINESSSERVICE_
    searchClause: AND egcl_bill.businessservice = $serviceName
  - name: paymentInstrument
    label: reports.wns.paymentmode
    type: singlevaluelist
    pattern: 'list://CASH:CASH,ONLINE:ONLINE,CARD:CARD,DD:DD,CHEQUE:CHEQUE'
    isLocalisationRequired: true
    localisationPrefix: COMMON_MASTERS_PAYMENTMODE_
    source: wns
    isMandatory: false
    searchClause: AND paymentmode = $paymentInstrument
  query: select locality, eg_user.uuid, CASE WHEN egcl_bill.businessservice='WS' THEN 'Water' ELSE NULL END as service,eg_user.name, paymentmode, count(receiptnumber) as totaltransactions,sum(totalamountpaid) as totalamountpaid from egcl_payment inner join egcl_paymentdetail on egcl_payment.id=egcl_paymentdetail.paymentid inner join egcl_bill on egcl_paymentdetail.billid=egcl_bill.id inner join eg_ws_connection on egcl_bill.consumercode=connectionno inner join eg_user on CAST(egcl_payment.createdby AS INT) = eg_user.id where eg_ws_connection.tenantid=$tenantid UNION ALL select locality, eg_user.uuid, CASE WHEN egcl_bill.businessservice='SW' THEN 'Sewerage' ELSE NULL END as service,eg_user.name, paymentmode, count(receiptnumber) as totaltransactions, sum(totalamountpaid) as totalamountpaid from egcl_payment inner join egcl_paymentdetail on egcl_payment.id=egcl_paymentdetail.paymentid inner join egcl_bill on egcl_paymentdetail.billid=egcl_bill.id inner join eg_sw_connection on egcl_bill.consumercode=connectionno inner join eg_user on CAST(egcl_payment.createdby AS INT) = eg_user.id where eg_sw_connection.tenantid=$tenantid 
  groupby: GROUP BY locality, service, name,paymentmode, eg_user.uuid

- reportName: WnsDefaulterReport
  decryptionPathId: WnsDefaulterReport
  summary: WnS Defaulter Report
  version: 1.0.0
  moduleName: rainmaker-wns
  sourceColumns:
  - name: consumercode
    label: report.wns.consumercode
    type: string
    source: wns
    total: false
  - name: name
    label: report.wns.name
    type: string
    source: wns
    total: false
  - name: locality
    label: report.wns.locality
    type: string
    source: wns
    total: false
    localisationPrefix: TENANTS_MOHALLA_
    isLocalisationRequired: true
  - name: service
    label: report.wns.service
    type: string
    source: wns
    total: false
  - name: totaldue
    label: report.wns.totaldue
    type: number
    source: wns
    total: false
  - name: uuid
    label: report.wns.uuid
    type: string
    source: wns
    showColumn: false
  searchParams:
  - name: locality
    label: reports.wns.locality
    type: singlevaluelist
    source: wns
    pattern: http://egov-location.egov:8080/egov-location/location/v11/boundarys/_search?hierarchyTypeCode=ADMIN&boundaryType=Locality&tenantId=$tenantid|$.TenantBoundary[0].boundary.*.code|$.TenantBoundary[0].boundary.*.code
    isMandatory: false
    wrapper: true
    localisationPrefix: TENANTS_MOHALLA_
    isLocalisationRequired: true
    isMandatory: false
    searchClause: AND conn.locality = $locality
  - name: serviceName
    label: reports.wns.serviceName
    type: singlevaluelist
    source: wns
    pattern: 'list://WS:Water,SW:Sewerage'
    isMandatory: false
    searchClause: AND CASE WHEN $serviceName='WS' THEN res.consumercode like 'WS%' WHEN  $serviceName='SW' THEN res.consumercode like 'SW%' END
  - name: usageType
    label: reports.wns.usageType
    source: wns
    type: singlevaluelist
    pattern: http://egov-mdms-service:8080/egov-mdms-service/v1/_get?tenantId=$tenantid&moduleName=ws-services-calculation&masterName=PropertyUsageType|$.MdmsRes.ws-services-calculation.PropertyUsageType.*.code|$.MdmsRes.ws-services-calculation.PropertyUsageType.*.name
    wrapper: true
    isMandatory: false
    localisationPrefix: WATERSERVICE_USAGE_TYPE_
    isMandatory: false
    searchClause: AND uuids.usagecategory = $usageType
  - name: connectionType
    label: reports.wns.connectionType
    type: singlevaluelist
    pattern: http://egov-mdms-service:8080/egov-mdms-service/v1/_get?tenantId=$tenantid&moduleName=ws-services-masters&masterName=connectionType|$.MdmsRes.ws-services-masters.connectionType.*.code|$.MdmsRes.ws-services-masters.connectionType.*.name
    wrapper: true
    isMandatory: false
    localisationPrefix: WATERSEREVICE_CONNECTION_TYPE_
    isLocalisationRequired: false
    source: wns
    isMandatory: false
    searchClause: AND s.connectiontype = $connectionType
  query: select res.consumercode,res.totaldue,'Water' as service, name, uuid,conn.locality from (select consumercode,sum(totalamount) as totaldue, billid from (select id,status from egbs_bill_v1) as b inner join egbs_billdetail_v1 on b.id=egbs_billdetail_v1.billid where b.status='ACTIVE' and expirydate<(extract(epoch from now())*1000) group by consumercode,billid)res inner join eg_ws_connection as conn on res.consumercode=conn.connectionno inner join (select connection_id,connectiontype from eg_ws_service)as s ON conn.id=s.connection_id inner join (select uuid1.userid as chuuid, uuid2.userid as propOwnuuid,uuid1.property_id as propertyid,uuid2.usagecategory from (select ch.userid ,property_id from (select connectionid,userid from eg_ws_connectionholder)as ch inner join (select id,property_id from eg_ws_connection) as conn on ch.connectionid=conn.id) as uuid1 inner join (select pto.userid, prop.propertyid, prop.usagecategory from (select userid,propertyid from eg_pt_owner) as pto inner join (select id,propertyid,usagecategory from eg_pt_property) as prop ON prop.id = pto.propertyid where prop.propertyid in (select property_id from eg_ws_connection)) as uuid2 on uuid1.property_id=uuid2.propertyid group by chuuid, propOwnuuid, uuid1.property_id, uuid2.usagecategory) as uuids ON uuids.propertyid=conn.property_id inner join (select uuid,name from eg_user) as usr on uuid = (CASE WHEN uuids.chuuid IS NOT NULL THEN uuids.chuuid ELSE uuids.propOwnuuid END) where conn.tenantid=$tenantid  and res.totaldue>0 
  groupby: GROUP BY res.consumercode,res.totaldue,service,usr.name,usr.uuid,locality